
<div class="inline-version">
  <span class="inline-version__name">MVC CALCULATOR</span>
  <div style="text-align: center; margin: 8px 0;">
    <img src="https://img.shields.io/badge/build-alpha--25.11--01-blueviolet?style=flat-square" alt="Build" style="display: block; margin: 4px auto; border-radius: 0; width: auto; height: auto;">
    <img src="https://img.shields.io/badge/version-25.11--alpha.01.79-orange?style=flat-square" alt="Version" style="display: block; margin: 4px auto; border-radius: 0; width: auto; height: auto;">
  </div>
</div>
